.header__lang-link {
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  transition: opacity .2s linear;
  opacity: 1;
}

.header__lang-link:hover {
  transition: 0.5s;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}