.cover__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    background: rgba(42, 44, 47, 0.3);
    transition: 0.5s linear;
    opacity: 1;
}

.cover__link:hover {
    background: rgba(42, 44, 47, 0.8);
    transition: 0.5s linear;
    opacity: 1;
}