.lead {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 984px;
  padding: 0 148px 92px 148px;
  margin: 0 auto;
}

@media screen and (min-width:1024px) {
  .lead {
    max-width: 1024px;
  }
}

@media screen and (max-width: 800px) {
  .lead {
    max-width: 100%;
    padding: 46px 0 88px 0;
  }
}

@media screen and (max-width: 600px) {
  .lead {
    padding: 46px 0 64px 0;
  }
}