.header {
  box-sizing: border-box;
  max-width: 100%;
  margin: 28px 48px 56px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    margin: 16px 16px 48px 16px;
  }
}