.place__paragraph-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  grid-row: 2/4;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .place__paragraph-container {
    grid-row: 4;
    margin-right: 16px;
    margin-left: 16px;
  }
}