.lead__title {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .lead__title {
    box-sizing: border-box;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
    max-width: 288px;
    width: 100%;
  }
}
