.lead__image {
    max-width: 100%;
    min-height: 615px;
    margin-bottom: 8px;
    object-fit: cover;
    object-position: center;
    box-sizing: content-box;
}

@media screen and (max-width: 1280px) {
    .lead__image {
        max-height: 580px;
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-height: 480px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-height: 200px;
        max-width: 100%;
    }
}