.footer {
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media screen and (max-width: 1150px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 950px) {
  .footer {
    max-width: calc(100% - 46px);
    margin-top: 102px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    max-width: calc(100% - 32px);
    margin: 64px 0 0 16px;
  }
}