.header__lang-links {
    padding: 0;
    margin: auto 0 6px 0;
    display: flex;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .header__lang-links {
        max-width: calc(100% - 150px);
        margin-bottom: 8px;
    }
}